.menuBar{background-color: #6ec8fd;color: white;font-weight: bold;}
.toolBar{background-color: #6ec8fd;color: white;font-weight: bold;}
.menuFichero{background-color: #6ec8fd;color: white;font-weight: bold;}